<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Observa</title>

    <!-- Loading animation -->
    <script src="/assets/js/pace.min.js"></script>

    <!-- Bootstrap core CSS and Material Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/assets/css/ripples.min.css" rel="stylesheet">
    <link href="/assets/css/material-scrolltop.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/material-blog.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-material-blog navbar-primary navbar-fixed-top">

    <div class="navbar-image" style="background-image: url('/assets/img/unsplash-1.jpg');background-position: center 40%;"></div>

    <div class="navbar-wrapper container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <a href="/indx"><img class="navbar-brand material-icons" src="/assets/img/iso_iso.png"></a>
            <ul class="nav navbar-nav">
                <li class="active dropdown">
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Filters <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Categoría</a></li>
                        <li><a href="#">Author</a></li>
                        <li><a href="#">Date</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/cdd_edit">Mi Perfil </a>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user_logout">Salir</a></li>
            </ul>
        </div>
    </div>
</div>

